* {
    font-family: "Poppins", serif;
}

@media (max-width: 600px) {
    .image-height-card {
        height: 150px;
    }
}
  
  /* For desktops */
@media (min-width: 1025px) {
    .image-height-card {
        height: 180px;
    }
}

