* {
    font-family: "Poppins", serif;
}

.min-height-card{
    min-height: 170px;
}

.height-card-anime{
    height: 500px;
}

.max-height-carousel {
    max-height: 400px;
}

.object-fit-cover{
    object-fit: cover;
}

.container-iframe {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom:56.25%;
    border-radius: 5px;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.scrollable-streaming{
    width: 100%;
    height: 85vh;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollable-detail-anime{
    width: 100%;
    height: 50vh;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
