---
interface Props {
    image: string;
    title: string;
    description:string;
    link?:string,
    type?:string
}

const {image,title,description,type = "episode",link = "/"} = Astro.props;
---
<a href={link} class="card shadow h-100 text-decoration-none" >
    <img src={"https://mangapi-man.vercel.app/gambar?url=" + image} loading="lazy" class={`${type === "episode" ? "min-height-card" : "height-card-anime"} card-img-top`} alt={title}>
    <div class="card-body">
        <h5 class="fs-5 card-title text-truncate">{title}</h5>
        <p class="card-text" >{description}</p>
    </div>
</a>