---
interface Props {
    image: string;
    title: string;
    description:string;
    type?:string
}

const {image,title,description,type = "episode"} = Astro.props;
---
<div class="card shadow h-100" >
    <img src={"https://mangapi-man.vercel.app/gambar?url=" + image} class={`${type === "episode" ? "min-height-card" : "height-card-anime"} card-img-top`} alt={title}>
    <div class="card-body">
        <h2 class="fs-5 card-title text-truncate">{title}</h5>
        <p class="card-text" >{description}</p>
    </div>
</div>