---
import AnimeCSR from "../components/static/AnimeCSR.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Nonton Anime terbaik dengan gratis" >

    <h1 class="fs-3 mt-4">Anime Anime Terbaru</h1>
    
	<AnimeCSR />
</Layout>