---
import EpisodeCSR from "../components/static/EpisodeCSR.astro";
import Layout from "../layouts/Layout.astro"
---

<Layout title="Episode Anime Terbaru" >

    <h1 class="fs-3 mt-4" >Episode Anime Terbaru</h1>

	<EpisodeCSR />

</Layout>