---
import AnimeCSR from "../components/static/AnimeCSR.astro";
import EpisodeCSR from "../components/static/EpisodeCSR.astro";
import Layout from "../layouts/Layout.astro"
---

<Layout title="Nonton Anime Terbaru - Episode dan Season Lengkap Tanpa Iklan" >
	
	<h1 class="fs-4 mt-4" >Nonton Anime Terbaru Semua Season dan Episode Tanpa Iklan</h1>

	<EpisodeCSR />
	
    <h2 class="fs-4 mt-4">Anime Anime Terbaru</h2>

    <AnimeCSR />
	
</Layout>